<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q Sup!</title>

    <!-- Q-Sup Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

</head>
<body>

    <div id="top-bar">
        <img src="../static/q_sup_logo.svg" alt="Q Sup Logo" id="q_sup_logo">
        <p id="tagline">Communicate securely, with Quantum Key Distribution</p>
    </div>
    
    <div class="login" id="login-div">
        <form action="" id="login-form">
            <label for="username">Enter Username:</label>
            <input type="text" id="username-inp" name="username"><br><br>
            <label for="password">Enter Password:</label>
            <input type="password" id="password-inp" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="communicate" id="communicate-div">

    </div>

    
    

    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
</body>
</html>